.MinooProductGrid {

    //border: 1px solid silver;
    //box-shadow: var(--xshop-shadow);
    border-radius: var(--xshop-border-radius);
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    h3 {
        margin-top: 1rem;
        text-align: start;
        font-size: 20px;
        font-weight: 300;
        color: var(--xshop-text);
        height: 1.3em;
        overflow: hidden;
    }

    .prices {
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        text-align: start;

        span {
            display: block;
            padding: .5rem;
        }

    }

    .fav-btn, .compare-btn {
        //position: absolute;
        //inset-inline-start: -12%;
        //top: 3%;
        width: 40px;
        height: 40px;
        background: #ffffff55;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        cursor: pointer;
        transition: .4s;

        &:hover {
            background: var(--xshop-primary);
            color: var(--xshop-diff);
        }
    }

    .fav-btn {
        top: calc(3% + 50px);

        &[data-is-fav="-1"] {
            display: none;
        }

        &[data-is-fav="1"] {
            .ri-heart-line {
                display: none;
            }
        }

        &[data-is-fav="0"] {
            .ri-heart-fill {
                display: none;
            }
        }

    }

    .btns {
        display: flex;
        flex: 1;

        .add-to-card {
            flex-grow: 4;
        }
    }

    .img-2 {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 500ms;
    }

    &:hover {
        .img-2 {
            opacity: 1;
        }
    }
}
