.DorClip {

    padding: 3rem 0;
    h1{
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 1rem;
    }


    .clip-body{
        border: 3px solid var(--xshop-primary);
        border-top: 0;
        border-bottom: 0;
    }
}
