.SimpleUnderConstruction {
    height: 100vh;
    width: 100%;
    background: rgb(254,255,0);
    background: radial-gradient(circle, rgba(254,255,0,1) 0%, rgba(251,111,25,1) 100%);
    text-align: center;

    h1,h2{
        font-weight: 200;
    }

    .container{
        padding-top: 10vh;
    }

    img{
        height: 50vh;
    }

    .social-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 500px;
        margin: 1rem auto;
        a{

            color: black;

            i{
                font-size: 35px;
            }
        }
    }
}
