#ProductKaren {
    padding: 1rem 0;


    #preview{
        position: relative;
    }

    #karen-product-detail{
        position: relative;
        overflow: hidden;

        .description{
            //border: 1px solid var(--xshop-primary);
            //border-radius: var(--xshop-border-radius);
            padding: 1rem 0;
            p{
                padding: 0;
                margin: 0;
            }

            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        h1{
            font-size: 32px;
            font-weight: 200;
        }

        #price{
            color: var(--xshop-primary);
            font-size: 27px;
            margin-bottom: .7rem;
            text-align: center;
        }

        #price-old{
            text-align: center;
            text-decoration: line-through red;
            font-size: 27px;
            color: gray;
            font-weight: 200;
        }

        .fav-btn, .compare-btn {

            height: 40px;
            background: #ffffff55;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--xshop-border-radius);
            z-index: 4;
            cursor: pointer;
            transition: .4s;
            padding:7px 1rem;
            border: 1px solid var(--xshop-primary);
            i{
                font-size: 25px;
            }

            &:hover {
                background: var(--xshop-primary);
                color: var(--xshop-diff);
            }
        }
        .fav-btn {
            top: calc(3% + 50px);

            &[data-is-fav="-1"]{
                display: none;
            }
            &[data-is-fav="1"]{
                .ri-heart-line{
                    display: none;
                }
            }
            &[data-is-fav="0"]{
                .ri-heart-fill{
                    display: none;
                }
            }
        }
    }
    p{
        text-align: justify;
        color: gray;
        line-height: 2em;
    }


    #karen-main-img{
        img{
            height: 50vh;
            object-fit: cover;
            width: 100%;
            border-radius: var(--xshop-border-radius);
        }
    }

    #karen-img-slider{
        margin-top: 5px;
        img{
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: var(--xshop-border-radius);
        }

    }

    .karen-product-data{
        padding: 5px;
    }

    .karen-product-list{
        padding: 5px;
        img{
            height: 20vh;
            width: 100%;
            object-fit: cover;
            border-radius: var(--xshop-border-radius);
        }
        h5{
            text-align: center;
            padding: .5rem 0;
        }
    }



    .navtabs {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        background: var(--karen-tab-bg-color,#ffffff);
        box-shadow: var(--xshop-shadow);
        border-radius: var(--xshop-border-radius);
        padding: 10px 20px;
        position: relative;
    }
    .navtab {
        margin: 0 10px;
        padding: 5px 20px;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
            color: var(--xshop-secondary);
        }
    }
    .navtab.active {
        color: var(--xshop-primary);
        font-weight: 600;
    }
    .underline {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: var(--xshop-primary);
        transition: left 0.3s ease, width 0.3s ease;
    }

}
