.circle-btn{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgba(139, 0, 139, 0.86);
    backdrop-filter: blur(4px);
    border: 0;
    box-shadow: 0px 3px 5px #11111177, inset 0 0 0  0 darkred;
    user-select: none;
    cursor: pointer;
    transition: 500ms;
    &:hover{
        box-shadow: 0px 3px 5px #11111177, inset 0 0 0  40px darkred;
    }
}
