// Fonts

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~vazir-font/dist/font-face.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~persian-datepicker/dist/css/persian-datepicker.min.css";

@import 'theme-white-menu';
// Variables
@import 'variables';

@import "multi-image-uploader";
@import "props";
@import "wizard";

@import "breadcrump";

@import "fix-libs";
// Bootstrap
@import '~bootstrap/dist/css/bootstrap.rtl.min.css';


body {
    overflow-x: hidden;
    zoom: 100%;
}

.rvnm-mobile-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

nav {

    li {
        cursor: pointer;
    }

    .current {
        background: #0d7fa7 !important;
    }

    a {
        text-decoration: none !important;
    }
}

.x64 {
    width: 64px;
}

.bootstrap-select {
    border: 1px solid #ddd !important;
}

.category-control {
    max-height: 200px;
    overflow-y: scroll;
}

.select2 {
    display: block;
}

#xoptions {
    display: none;
}

#profile-tab {
    li {
        cursor: pointer;
    }
}

#full-video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#under {
    position: relative;
    z-index: 99;
    text-align: center;
    color: white;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: 30px;
        margin-right: 20px;
    }
}

.profile-tab {
    border: 1px solid silver;
    border-radius: 5px;
    display: none;

    &.active {
        display: block;
    }
}


#profile-tab{
    list-style: none;
    padding: 0;
}

#profile-tab li{
    padding: .5rem 1rem;
    /*border-bottom: 1px solid silver;*/
}
#profile-tab li a,#profile-tab li span{
    display: block;
    transition: 300ms;
}
#profile-tab li:hover span,#profile-tab li:hover a{
    transform: translateX(-10px);
}

#profile-tab li.active{
    background: gray;
    color: white;
}

#profile-tab li a{
    //color: ;
}

.gird4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: .5rem;
    margin-bottom: .5rem;
}
.gird4 > div{
    height: 10rem;
    padding: 2rem;
    border: 1px solid #00000020;
    position: relative;
    text-align: start;
    overflow: hidden;
}



.gird4 > div:first-child{
    background: #9ACD3290;
    color: black;
}
.gird4 > div:nth-child(2){
    background: rgba(32, 222, 215, 0.56);
    color: black;
}
.gird4 > div:nth-child(3){
    background: rgba(250, 38, 69, 0.56);
    color: black;
}
.gird4 > div:last-child{
    background: #FF450090;
    color: black;
}

.gird4 > div i{
    font-size: 75px;
    width: 75px;
    position: absolute;
    left: 15px;
    top: 15px;
    transform:rotateZ(25deg);
    color: #ffffff55;
}

/*-768px width*/
@media ( max-width: 1000px ) {
    .gird4 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media ( max-width: 650px ) {
    .gird4 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.profile-tab{
    border: 0 !important;
    padding: 0!important;
}

.txt-area {
    white-space: pre-line;
}

.toggle, .hc-nav-trigger {
    display: none !important;
}

.navbarx{
    z-index: 999;
}
/*-993px width*/
@media (max-width: 993px) {
    .toggle {
        display: block !important;
        font-size: 30px;
        position: static;
        padding: 7px;
    }
    .brand-and-icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.rule-title{
    border-bottom: 1px solid dodgerblue;
    padding: 4px 2rem;
    background: rgba(30, 144, 255, 0.26);
}

// fix rtl and ltr
.form-check-label {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.category-control li input{
    margin-right: 5px;
    margin-top: 1px;
}

.ajs-message.ajs-visible{
    right: auto !important;
    left: 2rem !important;
}
