.GisooVideo {
    position: relative;
    &:before{
        position: absolute;
        content: ' ';
        background: #ffffff33;
        backdrop-filter: blur(12px);
        width: 45%;
        right: -25%;
        top: 0;
        z-index: 70;
        bottom: .5rem;
        transform: skewX(var(--gisso-deg-1));
    }
    &:after{
        position: absolute;
        content: ' ';
        background: #ffffff33;
        backdrop-filter: blur(12px);
        width: 45%;
        left: -25%;
        top: 0;
        z-index: 70;
        bottom: .5rem;
        transform: skewX(var(--gisso-deg-2));
    }
    // scss
    video{
        position: relative;
        width: 100%;
        z-index: 60;
    }

}
