.progress-step{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    .step{
        text-align: center;
        margin-bottom: 35px;
        position: relative;
        z-index: 9  ;
        &.done{
            i,img{
                border-color: black;
                color: black;
            }
        }
        i,img{
            font-size: 45px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 2px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
            color: gray;
            margin: 15px auto;
            background: #ffffff;
            position: relative;
            z-index: 10;
            cursor: pointer;
        }
    }
    .step:before{
        height: 2px;
        background: silver;
        top: calc(50% - 15px);
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        transform: translateY(-50%);
    }
    .step.done:before{
        background: black;
    }
}

#card-steps {
    .step{
        display: none;
        &.active{
            display: block;
        }
    }
}
