@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";

@import '~bootstrap/dist/css/bootstrap.rtl.min.css';
@import '~vazir-font/dist/Farsi-Digits/font-face-FD.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
@import '~lightbox2/dist/css/lightbox.min.css';
@import '~xzoom/dist/xzoom.min.css';
@import "css/icofont/icofont.min.css";
@import "../sass/preloader";
@import "css/style.css";
@import "../sass/card";

$main-color: #0085a7;
$invert-text-color: white;
$second-color: black;
$sub-menu-color: #222222;
$main-menu-bg: #eeeeee;
$is-dark: 'false';

@import "~x-mega-menu/src/main-x-mega-menu";

a{
    text-decoration: none !important;
}
//
//a {
//    color: #ea4c89;
//}
//
//a:hover {
//    color: dodgerblue;
//}
//
//.btn-primary {
//    background: #ea4c89 !important;
//    border-color: dodgerblue !important;
//}
//
//.btn-primary:hover {
//    background: dodgerblue !important;
//}
//
//.bg-primary {
//    background: dodgerblue !important;
//}
//
//.btn-info {
//    background: #ea4c89;
//    border-color: dodgerblue !important;
//}
//.btn-info:hover {
//    background: dodgerblue;
//}
//
//.btn-outline-primary {
//    color: #ea4c89 !important;
//    border-color: #ea4c89 !important;
//}
//
//.btn-outline-primary:hover {
//    background: #ea4c89 !important;
//    color: white !important;
//}
//
//.btn-outline-primary:hover a {
//    color: white !important;
//}
//
//.alert-info {
//    background: #f3c7e9;
//    border-color: dodgerblue;
//    color: darkred;
//}
//
//.alert-info h2 {
//    color: darkmagenta;
//}
//
//.navbar-brand img {
//    height: 45px;
//    margin-top: 15px;
//}
//
//.form-check-input:checked{
//    background-color: darkmagenta;
//    border-color: dodgerblue;
//}


.page-item.active .page-link {
    background: #f9247a;
    border-color: #f9247a;
}

.page-item .page-link {
    color: #f9247a;
}

#size-pick .size.active {
    background: #f9247a !important;
}

#x-toggle {
    img{
        display: inline-block;
    }
}

.x-mega-menu{
    margin-bottom: 0 !important;
    padding: 0;
}
#x-side-menu {
    ul {
        padding: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0 !important;
        color: white;
    }
}

.x-sub-menu{
    h3{
        font-size: 16px;
        color: teal;
    }
    ul {
        padding: 0;
        margin-bottom: 0 !important;
    }
    li{
        list-style: none;
    }
}

#search-list {
    padding: 7px;
    display: none;
    background: #fff;
    border: 1px solid silver;
    position: absolute;
    min-height: 35px;
    box-shadow: 2px 2px 5px rgba(95, 106, 130, 0.52);
    z-index: 99999;
}

#search-list img {
    height: 45px;
    float: left;
}

#search-list h4 {
    font-size: 15px !important;
    font-weight: 800;
}

#search-list h5 {
    font-size: 14px !important;
    color: #2d69eb;
    text-align: end;
}

/*-768px width*/
@media (max-width: 768px) {
    #card {
        table,tbody,tr,td{
            display: block !important;
            width: 100%;
        }
    }
    th{
        display: none;
    }
    tr{
        border-bottom: 1px solid gray !important;
        td{
            padding-right: 20% !important;
            position: relative;
            border-bottom: 1px solid silver !important;
            img{
                width: 80%;
                object-fit: cover;
            }
        }
        td:before{
            content: attr(data-before);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 18%;
            background: #00000022;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    tr:last-child{
        td{
            padding: 3px !important;
        }
        td:before{
            display: none;
        }
    }

}
