#app{
    padding-bottom: 75px;
}
.BottomPanel {
    // scss
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--xshop-background);
    ul{
        width: 100%;
        padding: 0 1rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        list-style: none;
        li{
            text-align: center;
            margin-bottom: 0;
            i{
                font-size: 2.2rem;
            }
        }
    }
}
