@import url('mega-menu.css');
@import url('grid.css');
@import url('product.css');


* {
    font-family: 'Vazir FD', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    overflow-x: hidden;
}

section h1, section h2 {
    font-size: 25px;
}

footer {
    background: #F5F5F5;
    color: white;
    padding-top: 2em;
}

footer .col-md-4 {
    padding: 0 45px;
}

ul li a {
    color: #616161;
}

ul li {
    color: #2B63FF;
}

footer h3 {
    font-size: 22px;
    padding: 8px;
    padding-bottom: 35px;
    color: black;
    margin-bottom: 25px;
    box-shadow: 0 2px 0 #f5f5f5 inset;
    background: linear-gradient(#f5f5f5, #f5f5f5) 50% 50%/calc(100%) calc(100% - 2px) no-repeat,
    linear-gradient(90deg, transparent 0%, #afafaf77 55%, #afafaf77 65%, #afafaf77 100%);
}

footer a {
    font-size: 17px;
    text-decoration: none;
    display: block;
    padding: 4px;
    color: white;
}

footer .social {
    padding: 10px;
    background: linear-gradient(#f5f5f5, #f5f5f5) 50% 50%/calc(100%) calc(100% - 2px) no-repeat,
    linear-gradient(90deg, transparent 0%, #afafaf77 45%, #afafaf77 65%, transparent 100%);
}

footer .social a {
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    margin-right: 3%;
    padding: 4px 10px 0px 10px;
    color: silver;
    transition: 300ms;
    border-radius: 7px;
}

footer .social a:hover {
    background-color: #3654ff;
    color: white;
}

footer a:hover {
    color: orangered;
}

aside {
}

aside > div:first-child {
    display: none;
}

aside > div {
    background: #fff;
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    border-radius: 7px;
}

aside > div i {
    color: gray;
    float: right;
    padding-left: 15px;
    font-size: 20px;
    margin-right: 7px;
}

aside h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

aside a {
    text-decoration: none;
}

aside .list-group-item {
    box-shadow: 0 2px 0 #ffffff inset;
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100%) calc(100% - 2px) no-repeat, linear-gradient(
        90deg, transparent 0%, #afafaf77 55%, #afafaf77 65%, #afafaf77 100%);
    border: 0;
}

aside .list-group-item:last-child {
    background: transparent;
}

aside .badge {
    cursor: pointer;
    padding: 12px !important;
    border-radius: 8px !important;
}

aside .badge.bg-secondary {
    background: #f0f0f0 !important;
    color: gray;
    font-weight: 400;
}

aside .accordion-item {
    border: 0;
}

aside .accordion-item button {
    padding: 5px;
}

aside .accordion-button:not(.collapsed) {
    background: transparent;
}

aside .form-check {
    border-bottom: 1px solid #eee;
    margin-bottom: 3px;
}

/*-767px width*/
@media ( max-width: 767px ) {
    aside > div:first-child {
        display: block;
    }

    aside > div {
        display: none;
    }
}

#top-top {
    padding-bottom: 1em;
}

#top-top .text-end {
    margin-top: 1em;
}
#addon-wrapping {
    background: #0a53be !important;
    border-color: teal;
}

#top {
    padding-top: 15px;
    border-bottom: 1px solid silver;
    background: #fff;
}

#top-top .logo {
    max-height: 45px;
    max-width: 75%;
    width: auto;
    height: auto;
    float: right;
}

#top .fa-search {
    font-size: 12px;
}

#top .logo-container {
    text-align: right;
}

#top .input-group {
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background: white;
}

#top .input-group .form-control {
    border: 0 !important;
    box-shadow: none;
}

#top .input-group .input-group-text {
    border: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    color: silver;
    background: #eee !important;
    border-radius: 7px;
}

#top .input-group .input-group-text .fa {
    font-size: 24px;
}

/*-768px width*/
@media ( max-width: 767px ) {
    #top .logo-container {
        display: none;
    }

    #top-top .text-end {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    #top-top .text-end .btn.btn {
    }
}


#new-products {
    background: #f6f6f6;
    color: white;
}

#new-products h1 {
    color: black;
}


#filtering {
    background: #fff;
}

#filtering.long-box .box {
    min-height: 275px;
}


#brand .row > div {
    text-align: center;
    min-height: 85px;
}

#brand img {
    height: 45px;
}

#brand a {
    text-decoration: none;
}

#list {
    background: #f7f8fa !important;
    padding-bottom: 2em;
}

#list .box {
    box-shadow: 0 3px 10px #ddd;
}

#preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

#preloader img {
    max-width: 100%;
}

#product td strong {
    color: orangered;
}


#post-list {
    background: #f9f9fa;
    padding-top: 2em;
    padding-bottom: 2em;
}

#post-list img {
    float: right;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 25px;
}

#single {
    padding-top: 2em;
}

#single img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.box {
    margin: 10px;
    background: white;
    border-radius: 15px;
    color: black;
    border: 1px solid #dddddd;
    position: relative;
}

.box img {
    border-radius: 15px;
    object-fit: cover;
    max-width: 100%;
    object-position: center;
    /*height: 220px;*/
}

.box a {
    text-decoration: none;
}

.box h5 {
    text-align: center;
    font-size: 13px;
    color: gray;
}

.box h4 {
    font-size: 15px;
    margin-top: 1rem;
    text-align: center;
    overflow: hidden;
    max-height: 1.3em;
    text-overflow: ellipsis;

    color: #444;
}

.box a:hover h4 {
    color: #0d7fa7;
}

.box span {
    /*color: #0d7fa7;*/
    margin: 15px auto;
    display: block;
    text-align: center;
    font-weight: 900;
}

.owl-carousel {
    direction: ltr;
}

.owl-carousel .item {
    direction: rtl;
}

.btn-block {
    width: 100%;
}

.old-price {
    text-decoration: line-through;
}

.display-block {
    display: inline-block !important;
    overflow: hidden;
}

.discount {
    background: #35a79e !important;
    padding-top: 7px;
    display: inline-block;
    margin: auto;
}

.namad {

}

.namad a {
    padding: 15px 4px;
    display: inline-block;
    border-radius: 10px;
    background: #eee;
    margin-right: 15px;
}

.namad a img {
    height: 100px;
}

.my-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    left: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    font-size: 35px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

.my-float:hover {
    color: black;
}

.content {
    padding-top: 1em;
    text-align: justify;
    line-height: 1.8em;
}


/*go top*/

#go-top {
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

#go-top:hover {
    cursor: pointer;
    background-color: #333;
}

#go-top:active {
    background-color: #555;
}

#go-top.show {
    opacity: 1;
    visibility: visible;
}

.custom {
    background: #FFFFFF;

}

.corner {
    border-radius: 8px;
}

.colorr {
    color: #248A80;
}

#font {

    /* sans/black/28 */

    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;

    /* text 1 */

    color: #2E2E2E;

}

.textt {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    text-align: right;

    /* text 1 */

    color: #2E2E2E;
}

#post-list {
    background: #F7F7F7;
}

.shad {
    background: #FFFFFF;
    margin-bottom: 4px;
}

#fon {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: right;

    color: #373941;
}

.bg {
    background: #FAFAFA;
}

.pad {
    margin: 20px;
}

.body {
    margin-top: 60px;
}

#product {
    background: #efefef;
    padding-top: 1em;
}

.lc {
}

.cl li {
    margin: 15px;
    box-sizing: border-box;
    border: none;
}

.coli {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.colors {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;

    /* text 2 */

    color: #7A7A7A;
}

tr.border-bottom td {
    width: 1015px;
    height: 0px;
    left: calc(50% - 1015px / 2 + 0.5px);
    top: 1114px;
    border-bottom: 1px solid;
    border-color: rgba(204, 204, 204, 0.05) rgba(204, 204, 204, 0.05);
    border-top: none;
    border-left: none;
    border-right: none;

}

.activ {
    background: rgba(247, 247, 247, 1);
}

/*fix*/
.btn-group {
    background: #eee;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0 0 1px gray;
}

.btn-group .btn {
    min-width: 75px;
    background: transparent;
    color: black;
    border: 0;
    margin: 0 5px;
    border-radius: 20px !important;
}

.btn-group .btn:first-child {
    margin-right: 0;
}

.btn-group .btn:last-child {
    margin-left: 0;
}

.btn-group .btn.active {
    border-radius: 20px !important;
    color: white;
    background: #373941;
    outline: none !important;
}


.long-box .box {
    min-height: 425px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.long-box .box div {
    position: relative;
}

.long-box .box div a {
    position: absolute;
    bottom: -7px;
}


.long-box .item {
    /*padding: 25px;*/
}

.fa-bg {
    position: absolute;
    left: 10px;
    top: -15px;
    font-size: 250px;
    opacity: .3;
    transform: rotateZ(55deg);
}

#go-top {
    border-radius: 50%;
}

#product-table tr td:last-child {
    text-align: left !important;
}

.main-price {
    color: #248a7f;
}

.icon-size {
    width: 75px;
}

.basket-icon {
    width: 35px !important;
    height: 35px !important;
}

#all-filter .accordion-header {
    box-shadow: 0 9px 0 #ffffff inset;
    background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100%) calc(100% - 2px) no-repeat, linear-gradient(
        90deg, transparent 0%, #afafafee 55%, #afafafee 65%, #f5f5f5 100%);
    padding-top: 7px;
    padding-bottom: 7px;
}

.side-box {
    background: #ffffff !important;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px #ddd;
}

.owl-carousel .owl-item .btn img {
    display: inline-block;
    margin-bottom: 0 !important;
}

.owl-carousel .owl-item .btn {
    white-space: nowrap;
    overflow: hidden;
}

#main-conetent .form-group {
    padding-bottom: 15px;
}

#main-conetent .form-group label {
    text-align: end;
}

#card-info {
    position: fixed;
    left: 35px;
    bottom: 100px;
}

#card img {
    height: 55px;
}

#search-list {
    padding: 7px;
    display: none;
    background: #fff;
    border: 1px solid silver;
    position: absolute;
    min-height: 35px;
    box-shadow: 2px 2px 5px rgba(95, 106, 130, 0.52);
    z-index: 99999;
}

#search-list img {
    height: 45px;
    float: left;
}

#search-list h4 {
    font-size: 15px !important;
    font-weight: 800;
}

#search-list h5 {
    font-size: 14px !important;
    color: #2d69eb;
    text-align: end;
}


/*-992px width*/
@media ( max-width: 992px ) {
    .logo-nav {
        display: none !important;
    }

}

#girl {
    margin-top: 15px;
    background: #ff6a6a33;
    padding-top: 2em;
    padding-bottom: 2em;
}

.simple-range-slider-bar {
    background: dodgerblue !important
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
}

.pink-pattern {
    background: url("../css/shop.jpg") no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.bg-pinkk {
    background-color: #f7edf6 !important;
}

#comment-form {
    max-width: 100%;
}


.btn-info:hover {
    background: dodgerblue;
}



.form-check-input:checked {
    background-color: dodgerblue;
    border-color: dodgerblue;
}


.post-card {
    box-shadow: 0 3px 7px #aaa;
    overflow: hidden;
}

.box .fav {
    position: absolute;
    left: 7px;
    top: 7px;
    color: red;
    background: #ffffffaa;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .fav .fa {
    display: none;
}

.box .fav.liked .far {
    display: none;
}

.box .fav.liked .fa {
    display: block;
}

.box .fav:hover .far, .box .fav.liked:hover .fa {
    display: none !important;
}

.box .fav:hover .fa, .box .fav.liked:hover .far {
    display: block !important;
}

.navbar-brand img {
    max-width: 155px;
}


.marquee {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 12px 0;
    font-weight: 100;
}
.marquee:nth-of-type(2) {
    background-color: #55BEC9;
}
.marquee:nth-of-type(3) {
    background-color: #6ED1A8;
}

.marquee .row {
    animation: marquee 20s linear infinite;
    position: absolute;
    width: 200%;
}
.marquee .row span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        right: 140%;
    }
    100% {
        right: -140%;
    }
}

.btn-outline-primary:hover a{
    color: white ;
}

#blog{
    padding: 2em 0;
    background: #282c34;
    color:white;
}

.img-vh100-full-width img {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

h3.textt{
    font-size: 22px;
    font-weight: 200;
}
