body{
    background: $body-bg;
}

.circle-btn{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: $secondary-color-panel;
    backdrop-filter: blur(4px);
    border: 0;
    box-shadow: 0px 3px 5px #11111177, inset 0 0 0  0 darkred;
    user-select: none;
    cursor: pointer;
    transition: 500ms;
    &:hover{
        box-shadow: 0px 3px 5px #11111177, inset 0 0 0  40px darkred;
    }
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-indigo);
    --bs-tooltip-color: var(--bs-white);
}

.grid-equal {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

a.btn,a.action-btn,a.circle-btn{
    &:hover{
        color:white;
        i{
            color: white;
        }
    }

}

.action-btn{
    display: block;
    font-size: 47px;
    text-align: center;
    i{
        color: white;
    }
    position: fixed;
    inset-inline-start: 4.2rem;
    bottom: 1rem;
}

.general-form{
    background: $lighter-color;
    border-radius: 7px;
    margin-bottom: 4rem;
    position: relative;
    h1{
        font-size: 25px;
        font-weight: 200;
        background: #00000011;
        padding: 1rem;
        text-align: center;
        margin: 0 -1rem;
    }

    .row{
        padding: 0 1rem 2rem ;
    }

    input[type='submit']{
        position: absolute ;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        min-width: 200px;
    }
}

.group-control{
    list-style: none;
    overflow-y: auto;
    padding: 0 .5rem;
    height: 12rem;
    ul{
        list-style: none;
    }
    input{
        margin: 0 .5rem;
    }
}

.model-status{
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 3px;
}
.status-0,.status-CLOSED {
    background: red;
}
.status-ANSWERED{
    background: lime;
}
.status-PENDING{
    background: gold;
}


.image-x64{
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 5px;
}



.img-squire{
    display: block;
    max-width: 100%;
    margin: auto;
}

.rm-img{
    position: relative;
    z-index: 1;
    margin-bottom: -75px;
}

.section-group{

    .section-group-item{
        display: block;
        padding: .5rem;
        background: #ffffff11;
        border-bottom: 1px solid #00000022;
        color: white;
        &.active{
            background: $primary-color-panel;
        }

        &:hover{
            background: rgba($primary-color-panel,.7);
        }
    }
}

#setting-sections{
    section{
        display: none;
        background: $lighter-color;
        padding: 1rem;

        .setting-field{
            padding: 5px;
        }
    }
}


.ol-sortable {
    padding-right: 1rem;
    padding-left: 1rem;
    list-style: none;
    border-radius: 5px;
    li {
        border: 1px solid grey;
        background: #ffffff11;
        margin-bottom: .25rem;
        border-radius: 5px;
        span {
            display: block;
            padding: 7px;
        }
    }
}


.area-list-item{
    background: #00000022;
    height: 125px;
    text-align: center;
    display: block;
    color: $text-muted;

    &:hover{
        color: lighten($primary-color-panel,10);
    }
    i{
        font-size: 45px;
        display: block;
        margin: 1rem auto;
    }
}
