.item-list {
    overflow: hidden;
    background: $lighter-color;
    //margin: 0 1rem;
    border-radius: 4px;

    .img-fluid{
        max-height: 128px;
        display: block;
        margin: auto;
    }

    h1 {
        font-size: 25px;
        padding: 1rem;
        font-weight: 200;
        margin: 0;
    }
    h2,h3,h4,h5,h6{
        font-weight: 200;
        font-size: 22px;
        margin-bottom: 0;
    }

    h2{
        margin-bottom: .5rem;
    }
    .item-search {
        form {
            padding: 1rem;
        }
    }
}

.table-list {
    width: 100%;

    tr{

        th{
            background-color: #00000033;
            background-image: url("../images/pattern.png");
        }

        td,th{
            transition: 300ms;
            transition-delay: 100ms;
            &:first-child{
                width: 100px;
            }
            &:last-child{
                text-align: center;
            }
            vertical-align: center;
            padding: .5rem;
            border-bottom: 1px solid #ffffff11;
            input{
                margin: .5rem 1rem ;
            }
            a{
                b{
                    color: white;
                }
            }
        }
        td{
            label{
                padding: .45rem 1rem ;
                cursor: pointer;
                border-radius: 3px;
            }
             input:checked + label{
                background: lighten($primary-color-panel,10);
            }
            input{
                display: none;
            }
        }

        &:nth-child(even) td{
            background: #00000010;
        }


        &:hover{
            background-image: url("../images/pattern.png");
            background-color: #00000044;
            td{
                background-color: transparent;
            }
        }

    }

    tfoot th{
        border-bottom: 0;
        ul.pagination{
            margin: 0;
            justify-content: center;
        }
    }
}



#bulk-from{
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: 1s;
}
