#panel-navbar {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    ul {
        padding: 0;
        list-style: none;
    }

    > ul {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        overflow-y: auto;
        //border-right: 1px dashed gray;
        //border-left: 1px dashed gray;


        li {
            i {
                font-size: 28px;
            }
            ul{
                display: none;
            }
        }

        a, a:visited {
            padding: 5px 9px 5px 11px;
            display: block;
            color: white;

            &:hover {
                color: $secondary-color-panel;
            }
        }
    }
}

#sidebar-panel {
    overflow: hidden;
    background: rgba(0, 0, 0, .1);
    transition: .5s;
    ul{
        padding: 5px;
        list-style: none;
        li{
            a{
                display: flex;
                padding: 7px ;
                color: white;
                transition: .7s;
                border-radius: 5px;
                align-items: center;
                justify-self: center;

                i{
                    font-size: 20px;
                    margin-right: 1rem;
                    margin-left: 1rem;
                }

                &:hover{
                    background: darkred;
                }
            }

        }
    }
}


#panel-top-navbar{
    background: rgb(40, 45, 70);
    padding-top: .8rem;
}


main{
    transition: 700ms;
}

.blured{
    filter: blur(5px) grayscale(.75);
    opacity: .5;
}
