// Body
$body-bg: #1b223a;

// Typography
$font-family-sans-serif: 'Vazirmatn', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-color-panel: #6e0000;
$secondary-color-panel:  rgba(139, 0, 139, 0.86) ;
$lighter-color: #282d47;
$text-muted: silver;
