.GradientTextLink {
    // scss
    background: linear-gradient( var(--gradient-text-link-deg), var(--xshop-primary), var(--xshop-secondary) 100%);
    color: var(--xshop-diff);

    h1{
        font-size: 24px;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

}
