.SliderSimple {
    // scss
    .item{
        height: 100vh;
        position: relative;
        .desc{
            position: absolute;
            inset-inline-end: 10%;
            background: #ffffff77;
            color: black;
            bottom:5%;
            padding: 10px;
            border-radius: var(--xshop-border-radius);
            p{
                margin-bottom: 0;
            }
        }
    }
    img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}
