#ParallaxSlider {

    .tns-inner{
        direction: ltr;
    }


    #ParallaxSliderTns > div{
        position: relative;
        overflow: hidden;
        height: 750px;
    }

    .parallax-slide-item{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 750px;
        color: var(--parallax-color);
    }
    // scss
    .parallax-slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 750px;
        background-size: 100% auto;
        background-position: center 0;


    }
    .main-content{
        position: relative;
        z-index: 2;
        max-width: 80%;
        width: 500px;
    }
}

/*-1000px width*/
@media (max-width: 1000px) {
    .parallax-slider{
        background-size: auto 125vh !important;
    }
}
