$xshop-background:#eeeeee;
$xshop-primary:#03b2b5;
$xshop-diff:#ffffff;
$xshop-diff2:#ffffff;
$xshop-secondary:#0064c2;
$xshop-text:#111111;
$xshop-border-radius:7px;
$xshop-shadow:2px 2px 4px #777777;
:root{
--xshop-background:#eeeeee;
--xshop-primary:#03b2b5;
--xshop-diff:#ffffff;
--xshop-diff2:#ffffff;
--xshop-secondary:#0064c2;
--xshop-text:#111111;
--xshop-border-radius:7px;
--xshop-shadow:2px 2px 4px #777777;
}

