body{
    background: var(--xshop-background);
    color: var(--xshop-text);
}

h1{
    color: var(--xshop-primary);
    text-shadow: var(--xshop-shadow);
}



#website-preloader{
    transition: 500ms;
}
