.tns-outer{
    .tns-nav,button{
        display: none;
    }
}

.slider-content{
    direction: ltr;
    overflow: hidden;
    .item{

    }
}

a,a:visited{
    text-decoration: none;
    color: var(--xshop-primary);

    &:hover{
        color: var(--xshop-secondary);
    }
}



.btn{
    border-radius: var(--xshop-border-radius);
}
.btn-primary{
    background: var(--xshop-primary);
    border-color: var(--xshop-secondary);
    color: var(--xshop-diff) !important;

    &:hover{
        border-color:  var(--xshop-primary);
        background:  var(--xshop-secondary); ;
    }
}

.btn-outline-primary{
    border-color: var(--xshop-primary);
    color:var(--xshop-primary);
    &:hover{
        border-color: var(--xshop-secondary);
        color:  var(--xshop-diff) !important;
        background: var(--xshop-secondary); ;
    }
}
.btn-secondary{
    background: var(--xshop-secondary);
    border-color: var(--xshop-secondary);
    color:  var(--xshop-diff) !important;

    &:hover{
        border-color: var(--xshop-primary);
        background: var(--xshop-secondary); ;
    }
}

.btn-outline-secondary{
    border-color: var(--xshop-secondary);
    color: var(--xshop-secondary);
    &:hover{
        border-color: var(--xshop-primary);
        color:  var(--xshop-diff) !important;
        background: var(--xshop-primary); ;
    }
}

.btn-outline-invert{
    border-color:  var(--xshop-diff);
    color:  var(--xshop-diff);

    &:hover{
        background:  var(--xshop-diff);
        color: var(--xshop-primary);
    }
}
